body{
    margin-top: 0;
    margin-down: 0;
    padding: 0;
    font-family: sans-serif;
    background: #22c97b;
    background-size: cover;
    background-position: center;
}

.loginbox{
    width: 350px;
    height: 450px;
    background: #440bc9;
    color: #fff;
    top: 80%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-70%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 50%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox .loginbutton 
{
    border: none;
    outline: none;
    width: 100px;
    height: 60px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-decoration: none;
}
.loginbox .loginbutton:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkblue;
}
.loginbox a:hover
{
    color: #ffc107;

}