body{
    margin: 0px;
    border: 0px;
}
#header{
    width: 100%;
    height: 250px;
    background: wheat;
    color: white
}
table td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: grey;
}
td{
    width: 200px;
    padding: 10px;
}
.button{
    float: right;
    background: blue;
    height: 32px;
    padding: 5px;
    line-height: 32px;
    border-radius: 5px;
    margin: 5px;
    color:white;
    text-decoration: none;
}
ul li{
    padding: 20px;
    border-bottom: 2px solid gray;
}
ul li:hover{
    background: #cc0099;
    color: aqua;
}
